<div #modal class="modal modal-fixed-footer" id="modal1">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <form [formGroup]="form">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input formControlName="name" id="name" type="text">
                <label for="name">{{ l.name }}</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input  formControlName="email" id="email" type="text">
                <label for="email">{{ l.email }}</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input  formControlName="phone" id="phone" type="text">
                <label for="phone">{{ l.phone }}</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">flag</i>
                <input  formControlName="country" id="country" type="text">
                <label for="country">{{ l.country }}</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">location_city</i>
                <input  formControlName="city" id="city" type="text">
                <label for="city">{{ l.city }}</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">confirmation_number</i>
                <input formControlName="postcode" id="postcode" type="text">
                <label for="postcode">{{ l.postcode }}</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea
                  class="materialize-textarea"
                  formControlName="description"
                  id="description"
                ></textarea>
                <label for="description">{{ l.desc }}</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="left">
      <app-success *ngIf="isSuccess"></app-success>
      <app-circular-loader *ngIf="isLoading"></app-circular-loader>
    </div>
    <button
      (click)="submitForm()"
      [disabled]="isLoading || isSuccess"
      class="modal-action btn waves-effect deep-purple lighten-2"
    >
      {{ l.save }}
      <i class="material-icons right"></i>
    </button>
    <button
      (click)="close()"
      [disabled]="isLoading || isSuccess"
      class="modal-action btn waves-effect red lighten-2"
    >
      {{ l.close }}
      <i class="material-icons right"></i>
    </button>
  </div>
</div>
