<div class="card">
  <div class="card-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div class="input-field">
        <input formControlName="name" id="name" type="text">
        <label for="name">{{ 'name' | lang }}</label>
      </div>

      <div class="input-field">
        <input formControlName="price" id="price" type="text">
        <label for="price">{{ 'price' | lang }}</label>
      </div>

      <div class="input-field">
        <textarea
          class="materialize-textarea"
          formControlName="description"
          id="description"
        ></textarea>
        <label for="description">{{ 'desc' | lang }}</label>
      </div>

      <div class="input-field">
        <select #category formControlName="category" id="category">
          <option disabled selected value="">{{ 'chCat' | lang }}</option>
          <option
            *ngFor=" let category of availableCategories$ | async; let i = index"
            [value]="category.id"
            class=""
          >
            {{ category.name }}
          </option>
        </select>
        <label for="category">{{ 'ct' | lang }}</label>
        <small>
          <a routerLink="/categories/new">{{ 'addNew' | lang }}</a>
        </small>
      </div>

      <button
        [disabled]="form.invalid || loading"
        class="modal-action btn waves-effect deep-purple lighten-2"
        type="submit"
      >
        {{ 'create' | lang  }}
      </button>
      <app-circular-loader *ngIf="loading" class="right"></app-circular-loader>
      <app-success *ngIf="success" class="right"></app-success>
    </form>
  </div>
</div>
