<div class="card">
  <div class="card-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div class="input-field">
        <input formControlName="name" id="name" type="text">
        <label for="name">{{ 'name' | lang }}</label>
      </div>

      <div class="input-field">
        <textarea
          class="materialize-textarea"
          formControlName="description"
          id="description"
        ></textarea>
        <label for="description">{{ 'desc' | lang }}</label>
      </div>

      <button
        [disabled]="form.invalid"
        class="modal-action btn waves-effect deep-purple lighten-2"
        type="submit"
      >
        {{ 'create' | lang  }}
      </button>
      <app-circular-loader class="right"></app-circular-loader>
      <app-success class="right"></app-success>
    </form>
  </div>
</div>

