<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small">
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div *ngIf="positions.length !== 0; else empty" class="collection">
        <a
          (click)="onSelect(position)"
          *ngFor="let position of positions"
          class="collection-item collection-item-icon">
        <span>
            {{ position.name }} <strong>{{ position.price }}</strong>
        </span>
          <span>
          <i (click)="onDelete($event, position)" class="material-icons">delete</i>
        </span>
        </a>
      </div>

      <ng-template #empty>
        <div class="center">
          В категории позиций нет
        </div>
      </ng-template>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>

  </div>
</div>

<!--<app-product-form></app-product-form>-->

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div  class="modal">
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
          formControlName="name"
          id="pos-name"
          type="text"
        >
        <label for="pos-name">Название</label>
      </div>
      <div class="input-field">
        <input
          [ngClass]="{'invalid': form.get('price').invalid && form.get('name').touched}"
          formControlName="price"
          id="pos-cost"
          type="number"
        >
        <label for="pos-cost">Цена</label>
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="onCancel()"
        [disabled]="form.disabled"
        class="modal-action waves-effect waves-black btn-flat"
        type="button"
      >
        Отмена
      </button>
      <button
        [disabled]="form.invalid || form.disabled"
        class="modal-action btn waves-effect"
        type="submit"
      >Сохранить</button>
    </div>
  </div>
</form>
