<div class="card">
  <div class="card-content">
    <span class="card-title">{{ l.chgPass }}</span>
    <form [formGroup]="form">
      <div class="input-field">
        <input
          formControlName="oldPassword"
          id="oldPassword"
          type="password"
        >
        <label for="oldPassword">{{ l.password }}</label>
      </div>

      <div class="input-field">
        <input
          formControlName="newPassword"
          id="newPassword"
          type="password"
        >
        <span *ngIf="form.get('newPassword').invalid && form.get('newPassword').touched">
                    <span
                      *ngIf="form.get('newPassword').errors['minlength']"
                      class="helper-text red-text"
                    >
                      {{ l.pmn }} {{ form.get('newPassword').errors['minlength']['requiredLength'] }}
                    </span>
                  </span>
        <label for="newPassword">{{ l.new_pass }}</label>
      </div>

      <div class="input-field">
        <input
          formControlName="confirmPassword"
          id="confirmPassword"
          type="password"
        >
        <span
          *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').errors"
          class="helper-text red-text"
        >
                    {{ l.pnm }}
                  </span>
        <label for="confirmPassword">{{ l.repeat_pass }}</label>
      </div>

      <button
        [ngClass]="{
                    'disabled': form.invalid
                  }"
        class="modal-action btn waves-effect deep-purple lighten-2"
        type="submit"
      >
        {{ l.upPass }}
      </button>
    </form>
  </div>
</div>
