<div class="card">
  <div class="card-content">
    <span class="card-title">{{ tokens.chgPass }}</span>
    <form [formGroup]="form">
      <div class="input-field">
        <input formControlName="oldPassword" id="oldPassword" type="password">
        <label for="oldPassword">{{ tokens.password }}</label>
      </div>
      <div class="input-field">
        <input formControlName="newPassword" id="newPassword" type="password">
        <span *ngIf="form.get('newPassword').invalid && form.get('newPassword').touched">
          <span
            *ngIf="form.get('newPassword').errors['minlength']"
            class="helper-text red-text"
          >
            {{ tokens.pmn }} {{ form.get('newPassword').errors['minlength']['requiredLength'] }}
          </span>
        </span>
        <label for="newPassword">{{ tokens.new_pass }}</label>
      </div>
      <div class="input-field">
        <input formControlName="confirmPassword" id="confirmPassword" type="password">
        <span
          *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').errors"
          class="helper-text red-text"
        >
          {{ tokens.pnm }}
        </span>
        <label for="confirmPassword">{{ tokens.repeat_pass }}</label>
      </div>
      <button
        [disabled]="form.invalid"
        class="modal-action btn waves-effect deep-purple lighten-2"
        type="submit"
      >
        {{ tokens.upPass }}
      </button>
    </form>
  </div>
</div>
